@font-face {
    font-family: "AvaraBoldItalic";
    src: url(/assets/fonts.css/AvaraBoldItalic.woff2) format(woff2),
            url(/assets/fonts.css/AvaraBoldItalic.woff) format(woff);

@font-face {
    font-family: "AvaraBlack";
    src: url(/assets/fonts.css/AvaraBlack.woff2) format(woff2),
         url(/assets/fonts.css/AvaraBlack.woff) format(woff);
}

@font-face {
    font-family: "AvaraBold";
    src: url(/assets/fonts.css/AvaraBold.woff2) format(woff2),
         url(/assets/fonts.css/AvaraBold.woff) format(woff);
}
