@font-face {
    font-family: "AvaraBoldItalic";
    src: url(/assets/fonts/AvaraBoldItalic.woff2) format(woff2),
            url(/assets/fonts/AvaraBoldItalic.woff) format(woff);

@font-face {
    font-family: "AvaraBlack";
    src: url(/assets/fonts/AvaraBlack.woff2) format(woff2),
         url(/assets/fonts/AvaraBlack.woff) format(woff);
}

@font-face {
    font-family: "AvaraBold";
    src: url(/assets/fonts/AvaraBold.woff2) format(woff2),
         url(/assets/fonts/AvaraBold.woff) format(woff);
}
