*{
	margin: 0px;
	padding: 0px;
}

body{
background-color: #ffffff;
opacity: 0.8;
background-image:  linear-gradient(#000000 1.9000000000000001px, transparent 1.9000000000000001px), linear-gradient(to right, #252525 1.9000000000000001px, #ffffff 1.9000000000000001px);
background-size: 38px 38px;
}

a{
	font-family: "Basteleur-Bold";
	text-decoration: none;
/*	color: black;*/
}

.container-image{
	height: 80vw; 

}

.menu-link{
	display: block;
	color: black;
	text-align: center;
	padding: 30px 100px;
	text-decoration: none;
	font-size:3rem ;

}

.menu-container{
	display: flex;
	flex-direction: column;
	text-decoration: none;



}

h1{
	text-align: center;
	font-family: "Basteleur-Bold";
	font-size:3em ;

}

h2,h3,h4,h5,{
	font-family: "Basteleur-Bold";
	font-size:1.5em ;

}


}

h6,h7{
	font-family: "Basteleur-Bold";
	font-size:0,5em ;

}

text{
	font-family: "Basteleur-Bold";
	font-size:1em;
}

title{
 	font-size:10em ;
  	text-align: center;
 }

p{
 	font-size:5em ;
  	text-align: center;
 }

.image-gallery {
    display: flex;
    gap: 10px;
    flex-flow: row wrap;
    justify-content: space-around;
     align-items: center;
}

.image-gallery img {
 	width: auto;
    height: 70px;
    border: 0px solid 0;
    border-radius: 10px;
 }
